* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
}


.nav {
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  padding: 14px 20px;
  align-items: center;
}

.nav2 {
  display: flex;
  gap: 30px;
}

.light {
  background-color: lightseagreen;
  justify-content: space-between;
  padding: 14px 20px;
  align-items: center;
}

.dark {
  background-color: lightslategrey;
  justify-content: space-between;
  padding: 14px 20px;
  align-items: center;
}