* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
  margin: 20px;
  padding: 20px;
  margin-right: 20px;
}

button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  background-color: gray;
  color: black;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: aqua;
}

input {
  padding: 20px;
  margin: 10px;
}

input[type='text'] {
  background-color: aqua;
  color: red;
}

.box {
  height: 200px;
  width: 500px;
  background-color: red;
}
.part1 {
  background-color: rgb(68, 68, 96);
  height: 100vh;
  width: 50px;
}
.part2{
  background-color: rgb(165, 165, 171);
  height: 100vh;
  width:50px;
}
.part3 {
  background-color: rgb(119, 126, 68);
  height: 100vh;
  width: 50px;
}