@import "tailwindcss";

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    text-decoration: underline;
    white-space: nowrap;
    font-weight: 600;
    text-transform: capitalize;
}